
.code-link {
    position: fixed;
    right: 50px;
    top: 50px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: courier;
    font-weight: bold;
    z-index: 10;
}

.text-overlay {
    background: black;
    color: white;
    width: 60%;
    position: absolute;
    top: 10px;
    right: 150px;
    z-index: 10;
    font-size: 20px;
    font-family: arial
}

.gui {
  position: absolute;
  top: 150px;
  right: 10px;
}