<!DOCTYPE html>
<html>
  <head>
      <script src="https://aframe.io/releases/1.4.1/aframe.min.js"></script>
      <script src="../dist/head-tracking.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/diarmidmackenzie/aframe-components@main/styles.css">
  </head>
  <body>
    <div class="text-overlay">
        <p>Basic head position detection</p>
    </div>
    </div>
        <a class="code-link"
        target="_blank"
        href="https://github.com/diarmidmackenzie/aframe-components/blob/main/components/head-tracking/test/index.html">
        view code
    </a>
      <a-scene background="color:#88f" face-detector head-tracker="debug: true">
      </a-scene>
  </body>
</html>