<!DOCTYPE html>
<html>
  <head>
      <script src="https://aframe.io/releases/1.7.0/aframe.min.js"></script>
      <script src="../dist/head-tracking.js"></script>
      <script src="./window-camera.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/diarmidmackenzie/aframe-components@main/styles.css">
      <script src="https://unpkg.com/aframe-environment-component@1.3.2/dist/aframe-environment-component.min.js"></script>
  </head>
  <body>
    <div class="text-overlay">
        <p>Desktop screen simulating window into 3D world using head tracking</p>
    </div>
    </div>
        <a class="code-link"
        target="_blank"
        href="https://github.com/diarmidmackenzie/aframe-components/blob/main/components/head-tracking/test/window-camera2.html">
        view code
    </a>
      <a-scene  environment="preset: forest"face-detector head-tracker="stabilizationFactor: 0.75" window-camera>
        <a-camera look-controls="enabled: false" wasd-controls="enabled:false" ></a-camera>
        <a-entity position="0 1.6 -0.2" scale="0.05 0.05 0.05">
          <a-torus-knot></a-torus-knot>          
        </a-entity>
      </a-scene>
  </body>
</html>