<!DOCTYPE html>
<html>
  <head>
      <script src="https://aframe.io/releases/1.7.0/aframe.min.js"></script>
      <script src="../dist/head-tracking.js"></script>
      <script src="./window-camera.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/diarmidmackenzie/aframe-components@main/styles.css">
  </head>
  <body>
    <div class="text-overlay">
        <p>Desktop screen simulating window into 3D world using head tracking</p>
    </div>
    </div>
        <a class="code-link"
        target="_blank"
        href="https://github.com/diarmidmackenzie/aframe-components/blob/main/components/head-tracking/test/window-camera.html">
        view code
    </a>
      <a-scene background="color:#88f" face-detector head-tracker="stabilizationFactor: 0.75" window-camera="debug: true">
        <a-camera look-controls="enabled: false" wasd-controls="enabled:false" ></a-camera>
        <a-entity position="0 1.47 -0.2">
          <a-box position="0 0.075 0" width="0.05" height="0.05" depth="0.05" rotation="0 0 0" color="#484"></a-box>
          <a-box position="0 0.025 0" width="0.1" height="0.05" depth="0.1" rotation="0 0 0" color="#844"></a-box>
          <a-plane position="0 0 0" rotation="-90 0 0" width="2" height="0.5" color="#aa4" material="side: double"></a-plane>
        </a-entity>
      </a-scene>
  </body>
</html>