<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,maximum-scale=1">
    <title>Configure Room Planes in Ammo Physics Engine</title>
    <script src="https://aframe.io/releases/1.7.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/MozillaReality/ammo.js@8bbc0ea/builds/ammo.wasm.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/c-frame/aframe-physics-system@v4.2.2/dist/aframe-physics-system.js"></script>
    <script src="../dist/xr-room-physics.js"></script>
    <script src="../../ball-blaster/index.js"></script>
    <script src="../../desktop-xr-plane/index.js"></script>
    <link rel="stylesheet" href="../../../styles.css">
  </head>
  <body>
    <div class="text-overlay">
      <p>Test with two desktop-emulated planes: walls.  Space to shoot balls.</p>
    </div>
        <a class="code-link"
        target="_blank"
        href="https://github.com/diarmidmackenzie/aframe-components/blob/master/xr-room-physics/test/ammo-desktop-room2.html">
        view code
    </a>
    <a-scene webxr="requiredFeatures: plane-detection,local-floor"
             renderer="sortObjects: true"
             background="color:#888"
             physics="driver: ammo; debug: true"
             xr-room-physics="debug: true">

      <a-entity camera look-controls wasd-controls position="0 1.6 0">
        <a-entity position='0 -0.3 0.3' ball-blaster="velocity: 20"></a-entity>
      </a-entity>

      <a-plane width="2" height="2" position="0 1 -1" color="white" wireframe="true"
               desktop-xr-plane>
      </a-plane>
      <a-plane width="2" height="2" position="1 1 0" rotation="0 -90 0" color="white" wireframe="true"
               desktop-xr-plane>
      </a-plane>
    </a-scene>
  </body>
</html>
