<head>
</head>
<body>
  <h1>Test pages for xr-room-physics</h1>
  <h2>Testing in VR, with a room layout pre-configured on your device</h2>
  <ul>
    <li><a href= './physx-room.html'>For PhysX</a></li>
    <li><a href= './ammo-room.html'>For Ammo</a></li>
    <li><a href= './cannon-room.html'>For Cannon</a></li>
  </ul>
  <h2>Testing on Desktop, with simulated room layout</h2>

  <p>Full test: Convex & concave corners; Desktop simulation of VR controllers; Toggle debug</p>
  <ul>
  <li><a href= './physx-desktop-room5.html'>For PhysX</a></li>
  <li><a href= './ammo-desktop-room5.html'>For Ammo</a></li>
  <li><a href= './cannon-desktop-room5.html'>For Cannon</a></li>
  </ul>
  <p>Simpler tests (these all use Ammo physics)</p>
  <ul>  
    <li><a href= './ammo-desktop-room4.html'>Simple rectangular room with desk</a></li>
    <li><a href= './ammo-desktop-room3.html'>Wall + floor</a></li>
    <li><a href= './ammo-desktop-room2.html'>Wall-wall corner</a></li>
    <li><a href= './ammo-desktop-room.html'>Single wall</a></li>
  </ul>
</body>