<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,maximum-scale=1">
    <title>Configure Room Planes in PhysX Physics Engine</title>
    <script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/diarmidmackenzie/physx@117b6be/dist/physx.js"></script>
    <script src="../dist/xr-room-physics.js"></script>
    <script src="../../ball-blaster/index.js"></script>
    <script src="./toggle-debug.js"></script>
    <link rel="stylesheet" href="../../../styles.css">
  </head>
  <body>
    <div class="text-overlay">
      <p>Configured XR Planes automatically created as static bodies in PhysX Physics.</p>
    </div>
        <a class="code-link"
        target="_blank"
        href="https://github.com/diarmidmackenzie/aframe-components/blob/master/xr-room-physics/test/physx-room.html">
        view code
    </a>
    <a-scene webxr="requiredFeatures: plane-detection,local-floor"
             renderer="sortObjects: true"
             physx="autoLoad: true; delay: 1000"
             xr-room-physics="depth: 0.05">

      <a-entity camera look-controls wasd-controls position="0 1.6 0"></a-entity>
      <a-entity id="left-hand" hand-controls="hand: left" toggle-debug></a-entity>
      <a-entity id="right-hand" hand-controls="hand: right" toggle-debug>
        <a-entity controller-ball-blaster rotation="-80 0 0" position="-0.02 0 -0.01"></a-entity>
      </a-entity>
    </a-scene>
  </body>
</html>
