<!DOCTYPE html>
<meta charset="utf-8">
<title>Test Suite</title>
<head>
  <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.19.4.css">
  <script src="https://code.jquery.com/qunit/qunit-2.19.4.js"></script>
  <script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/c-frame/aframe-physics-system@v4.2.2/dist/aframe-physics-system.js"></script>
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <script src="../dist/xr-room-physics.js"></script>  
  <script src = "./ut/ut-basic.js"></script>
  
</body>