<!DOCTYPE html>
<html>
  <head>
      <script src="https://aframe.io/releases/1.4.1/aframe.min.js"></script>
      <script src="../../mouse-manipulation/dist/mouse-manipulation.js"></script>
      <script src="../../raycast-target/index.js"></script>
      <script src="../../dynamic-snap/dist/dynamic-snap.js"></script>
      <script src="../dist/plug-socket.js"></script>
      <link rel="stylesheet" href="../../../styles.css">
      <script>
        // Debug variables.
        addEventListener("DOMContentLoaded", () => {
          window.r = document.getElementById('red-box')
          window.s = window.r.querySelector('[socket]').components.socket
          window.b = document.getElementById('blue-box')
          window.p = window.b.querySelector('[plug]').components.socket
        });
      </script>
  </head>
  <body>
    <div class="text-overlay">
        <p>Simple plug-socket test - bricks move under user control and snap into place</p>
    </div>
      <a-scene background="color:#88f"
               socket="snapDistance: 0.2">

      <a-entity id="cursor"
                cursor="rayOrigin: mouse"
                raycaster="objects: [raycast-target]; far: Infinity"
                mouse-manipulation="grabEvents: true">
      </a-entity>
      <a-entity position = "0 1 -4">
        <a-box id="red-box" 
               position = "0 1.3 0"
               dynamic-snap="renderSnap: wireframe"
               raycast-target
               socket-fabric="snap:events; debug: true"
               color="red">
          <a-entity socket position = "0 -0.5 0">
          </a-entity>
          <a-entity plug position = "0 0.5 0">
          </a-entity>
        </a-box>
        <a-box id="blue-box" 
               position = "0 0 0"
               dynamic-snap="renderSnap: wireframe"
               raycast-target
               socket-fabric="snap:events"
               color="blue">
          <a-entity socket position = "0 -0.5 0">
          </a-entity>
          <a-entity plug position = "0 0.5 0">
          </a-entity>
        </a-box>
      </a-entity>
    </a-scene>
  </body>
</html>