<!DOCTYPE html>
<html>
  <head>
      <script src="https://aframe.io/releases/1.4.1/aframe.min.js"></script>
      <script src="https://unpkg.com/aframe-template-component@3.2.1/dist/aframe-template-component.min.js"></script>
      <script src="../dist/plug-socket.js"></script>
      <script>
        AFRAME.registerComponent('increase-snap-distance-on-space-keypress', {

          init() {

            this.snap = 0
            window.addEventListener('keyup', (evt) => {

              if (evt.key === " ") {

                this.snap += 0.001
                this.el.setAttribute('socket', {snapDistance: this.snap, debug: true})

                snapText = document.getElementById('snap-output')
                snapText.innerHTML = this.snap.toFixed(3)
              }
            })
          }
        })
      </script>
      <link rel="stylesheet" href="../../../styles.css">
  </head>
  <body>
    <div class="text-overlay">
        <p>8-stud plug-socket test - bricks at various offsets and angles.  Scale 0.01.</p>
        <p>Snap distance: <span id="snap-output">0</span>.  Hit space to increase it (behaviour will degenerate above 0.009)</p>
    </div>
      <a-scene background="color:#88f"
               socket="snapDistance: 0; debug: true"
               increase-snap-distance-on-space-keypress
               stats>
        <a-assets>
          <script id="blocksTemplate" type="text/html">
            <a-box position="${box1position}"
                   rotation="${box1rotation}"
                   socket-fabric
                   width="4"
                   depth="2"
                   color="red">
              <a-entity socket position = "-1.5 -0.5 -0.5">
              </a-entity>
              <a-entity socket position = "-0.5 -0.5 -0.5">
              </a-entity>
              <a-entity socket position = "0.5 -0.5 -0.5">
              </a-entity>
              <a-entity socket position = "1.5 -0.5 -0.5">
              </a-entity>
              <a-entity socket position = "-1.5 -0.5 0.5">
              </a-entity>
              <a-entity socket position = "-0.5 -0.5 0.5">
              </a-entity>
              <a-entity socket position = "0.5 -0.5 0.5">
              </a-entity>
              <a-entity socket position = "1.5 -0.5 0.5">
              </a-entity>
              <a-entity plug position = "-1.5 0.5 -0.5">
              </a-entity>
              <a-entity plug position = "-0.5 0.5 -0.5">
              </a-entity>
              <a-entity plug position = "0.5 0.5 -0.5">
              </a-entity>
              <a-entity plug position = "1.5 0.5 -0.5">
              </a-entity>
              <a-entity plug position = "-1.5 0.5 0.5">
              </a-entity>
              <a-entity plug position = "-0.5 0.5 0.5">
              </a-entity>
              <a-entity plug position = "0.5 0.5 0.5">
              </a-entity>
              <a-entity plug position = "1.5 0.5 0.5">
              </a-entity>
            </a-box>
            <a-box position="${box2position}"
                   rotation="${box2rotation}"
                   socket-fabric
                   width="4"
                   depth="2"
                   color="blue">
              <a-entity socket position = "-1.5 -0.5 -0.5">
              </a-entity>
              <a-entity socket position = "-0.5 -0.5 -0.5">
              </a-entity>
              <a-entity socket position = "0.5 -0.5 -0.5">
              </a-entity>
              <a-entity socket position = "1.5 -0.5 -0.5">
              </a-entity>
              <a-entity socket position = "-1.5 -0.5 0.5">
              </a-entity>
              <a-entity socket position = "-0.5 -0.5 0.5">
              </a-entity>
              <a-entity socket position = "0.5 -0.5 0.5">
              </a-entity>
              <a-entity socket position = "1.5 -0.5 0.5">
              </a-entity>
              <a-entity plug position = "-1.5 0.5 -0.5">
              </a-entity>
              <a-entity plug position = "-0.5 0.5 -0.5">
              </a-entity>
              <a-entity plug position = "0.5 0.5 -0.5">
              </a-entity>
              <a-entity plug position = "1.5 0.5 -0.5">
              </a-entity>
              <a-entity plug position = "-1.5 0.5 0.5">
              </a-entity>
              <a-entity plug position = "-0.5 0.5 0.5">
              </a-entity>
              <a-entity plug position = "0.5 0.5 0.5">
              </a-entity>
              <a-entity plug position = "1.5 0.5 0.5">
              </a-entity>
            </a-box>
          </script>
        </a-assets>
        <a-entity position = "0 1.6 -0.3" scale="0.01 0.01 0.01">
          <!-- 1st row - z rotations -->
          <a-entity position = "-20 10 0"
                    template="src: #blocksTemplate"
                    data-box1position="1 1.1 0"
                    data-box1rotation="0 0 5"
                    data-box2position="0 0 0"
                    data-box2rotation="0 0 0">
          </a-entity>
          <a-entity position = "-10 10 0"
                    template="src: #blocksTemplate"
                    data-box1position="1 1.1 0"
                    data-box1rotation="0 0 10"
                    data-box2position="0 0 0"
                    data-box2rotation="0 0 0">
          </a-entity>
          <a-entity position = "0 10 0"
                    template="src: #blocksTemplate"
                    data-box1position="1 1.1 0"
                    data-box1rotation="0 0 20"
                    data-box2position="0 0 0"
                    data-box2rotation="0 0 0">
          </a-entity>
          <a-entity position = "10 10 0"
                    template="src: #blocksTemplate"
                    data-box1position="1 1.1 0"
                    data-box1rotation="0 0 30"
                    data-box2position="0 0 0"
                    data-box2rotation="0 0 0">
          </a-entity>
          <a-entity position = "20 10 0"
                    template="src: #blocksTemplate"
                    data-box1position="1 1.1 0"
                    data-box1rotation="0 0 40"
                    data-box2position="0 0 0"
                    data-box2rotation="0 0 0">
          </a-entity>

          <!-- 2nd row - y rotations.-->
          <!-- View rotated about x axis for improved visibility-->
          <a-entity rotation="90 0 0">
            <a-entity position = "-20 0 0"
                      template="src: #blocksTemplate"
                      data-box1position="1 1.1 0"
                      data-box1rotation="0 25 0"
                      data-box2position="0 0 0"
                      data-box2rotation="0 0 0">
            </a-entity>
            <a-entity position = "-10 0 0"
                      template="src: #blocksTemplate"
                      data-box1position="1 1.1 0"
                      data-box1rotation="0 35 0"
                      data-box2position="0 0 0"
                      data-box2rotation="0 0 0">
            </a-entity>
            <a-entity position = "0 0 0"
                      template="src: #blocksTemplate"
                      data-box1position="1 1.1 0"
                      data-box1rotation="0 45 0"
                      data-box2position="0 0 0"
                      data-box2rotation="0 0 0">
            </a-entity>
            <a-entity position = "10 0 0"
                      template="src: #blocksTemplate"
                      data-box1position="1 1.1 0"
                      data-box1rotation="0 55 0"
                      data-box2position="0 0 0"
                      data-box2rotation="0 0 0">
            </a-entity>
            <a-entity position = "20 0 0"
                      template="src: #blocksTemplate"
                      data-box1position="1 1.1 0"
                      data-box1rotation="0 65 0"
                      data-box2position="0 0 0"
                      data-box2rotation="0 0 0">
            </a-entity>
          </a-entity>

          <!-- 3rd row - x rotations -->
          <a-entity position = "-20 -10 0"
                    template="src: #blocksTemplate"
                    data-box1position="1 1.1 0"
                    data-box1rotation="10 0 0"
                    data-box2position="0 0 0"
                    data-box2rotation="0 0 0">
          </a-entity>
          <a-entity position = "-10 -10 0"
                    template="src: #blocksTemplate"
                    data-box1position="1 1.1 0"
                    data-box1rotation="20 0 0"
                    data-box2position="0 0 0"
                    data-box2rotation="0 0 0">
          </a-entity>
          <a-entity position = "0 -10 0"
                    template="src: #blocksTemplate"
                    data-box1position="1 1.1 0"
                    data-box1rotation="30 0 0"
                    data-box2position="0 0 0"
                    data-box2rotation="0 0 0">
          </a-entity>
          <a-entity position = "10 -10 0"
                    template="src: #blocksTemplate"
                    data-box1position="1 1.1 0"
                    data-box1rotation="40 0 0"
                    data-box2position="0 0 0"
                    data-box2rotation="0 0 0">
          </a-entity>
          <a-entity position = "20 -10 0"
                    template="src: #blocksTemplate"
                    data-box1position="1 1.1 0"
                    data-box1rotation="50 0 0"
                    data-box2position="0 0 0"
                    data-box2rotation="0 0 0">
          </a-entity>
        </a-entity>
      </a-scene>
  </body>
</html>