<!DOCTYPE html>
<html>
  <head>
      <script src="https://aframe.io/releases/1.7.0/aframe.min.js"></script>
      <script src="../dist/graph.js"></script>
      <link rel="stylesheet" href="../../../styles.css">
  </head>
  <body>
    <div class="text-overlay">
        <p>Dynamic Graph in A-Frame.</p>
    </div>
        <a class="code-link"
        target="_blank"
        href="https://github.com/diarmidmackenzie/aframe-components/blob/main/components/graph/test/">
        view code
    </a>
    
    <a-scene background="color:black" graph="debug: true">
      <a-entity id="container" position = "0 0 -4">
        <a-box id="box1" position="-1 1 0"color="red"
               graph-node
               graph-edge__2="target:#box2"
               graph-edge__3="target:#box3">
        </a-box>
        <a-box id="box2" position="1 1 0"color="green"
               graph-node
               graph-edge__1="target:#box1"
               graph-edge__3="target:#box3">
        </a-box>
        <a-box id="box3" position="-1 3 0"color="blue"
               graph-node
               graph-edge__1="target:#box1"
               graph-edge__4="target:#box4">
        </a-box>
        <a-box id="box4" position="1 3 0"color="yellow"
               graph-node
               graph-edge__1="target:#box1">
        </a-box>
      </a-entity>
    </a-scene>
  </body>
</html>
