<html>
  <head>
    <title>Desktop simulation of WebXR Hand Tracking using Mediapipe.</title>
    <script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>
    <script src="../dist/desktop-xr-hands.js"></script>
    <link rel="stylesheet" href="../../../styles.css">
  </head>
  <body>
    <div class="text-overlay">
      <p>Desktop simulation of WebXR Hand Tracking using Mediapipe.</p>
    </div>
        <a class="code-link"
        target="_blank"
        href="https://github.com/diarmidmackenzie/aframe-components/blob/master/components/desktop-xr-hands/test/index.html">
        view code
    </a>
    <a-scene>
      <a-entity desktop-xr-hands></a-entity>
    </a-scene>
  </body>
</html>
